# **PRÀCTICA ÀLGEBRA**
Biel Fernandez Herencia

Izan Perez Sanchez

Edgar Saez Lopez

In [7]:
import kagglehub

path = kagglehub.dataset_download("rajmehra03/movielens100k")

Downloading from https://www.kaggle.com/api/v1/datasets/download/rajmehra03/movielens100k?dataset_version_number=2...

100%|█████████████████████████████████████████████████████████████████████████████| 1.69M/1.69M [00:00<00:00, 3.24MB/s]

Extracting files...

In [8]:
import os
os.listdir(path)

['links.csv', 'movies.csv', 'ratings.csv', 'tags.csv', 'u.data']

In [9]:
import pandas as pd

df = pd.read_csv(path+"/ratings.csv")
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [10]:
df = df.iloc[12000:13000, :3]

df = pd.pivot_table(df, values="rating", index="userId",
                       columns="movieId")

df

movieId,1,2,6,7,10,16,20,21,25,32,...,79132,80463,81054,81591,81786,81834,82459,88125,88129,97673
userId,,,,,,,,,,,,,,,,,,,,,
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,4.0,NaN,3.5,NaN,3.0,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,3.5,NaN,NaN,5.0,5.0,NaN,NaN,NaN,5.0,...,4.5,NaN,NaN,NaN,NaN,4.5,NaN,4.5,4.0,4.5
79,2.0,2.5,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,2.0,4.0,4.0,3.0,5.0,1.0,4.0,4.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,4.0,2.5,4.0,NaN,3.5,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,5.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Les dimensions de la matriu son 9 x 729 ja que hi ha només 9 usuaris diferents en el rang de 12000 a 12999. Cada fila representa un usuari, i les columnes representen les diferents películes que han rebut valoracions.

In [11]:
df = df.fillna(0)
df

movieId,1,2,6,7,10,16,20,21,25,32,...,79132,80463,81054,81591,81786,81834,82459,88125,88129,97673
userId,,,,,,,,,,,,,,,,,,,,,
75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
76,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77,4.0,0.0,3.5,0.0,3.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78,0.0,3.5,0.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0,...,4.5,0.0,0.0,0.0,0.0,4.5,0.0,4.5,4.0,4.5
79,2.0,2.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
80,0.0,2.0,4.0,4.0,3.0,5.0,1.0,4.0,4.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,4.0,2.5,4.0,0.0,3.5,0.0,0.0,0.0
82,0.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83,0.0,0.0,5.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
import numpy as np
from numpy.linalg import svd

U, sigma, Vt = svd(df, full_matrices=False)

# construim la matriu diagonal perque la funcion svd el valor sigma es un array amb els valors singulars
Sigma = np.diag(sigma)

# Reconstruim la matriu pero substituint els valors 0 per les prediccions
pred = np.dot(np.dot(U, Sigma), Vt)

pred

In [20]:
# Rang
rang_matriu_contruida = np.linalg.matrix_rank(pred)
rang_matriu_contruida

np.int64(9)

In [27]:
# vector valors singulars
sigma

array([78.28443425, 53.36692855, 50.3734961 , 39.47853474, 23.05393457,
       22.21283523, 18.48505578, 17.14184453, 16.21081143])

In [28]:
print(U.shape)
print(Sigma.shape)
print(Vt.shape)

(9, 9)
(9, 9)
(9, 729)

In [29]:
# Reducion de la dimensionalidad
# k es igual al nombre de components al que volem reduir
k = 2

U_k = U[:, :k]
S_k = np.diag(sigma[:k])
Vt_k = Vt[:k, :]

usuarios_2d = np.dot(U, S_k)
pelis_2d = np.dot(Vt_k.T, S_k)

ValueError: shapes (729,2) and (9,9) not aligned: 2 (dim 1) != 9 (dim 0)

In [25]:
import matplotlib.pyplot as plt

# Asumiendo que:
# u_red son tus usuarios (filas de U reducidas)
# p_red son tus pelis (filas de V o columnas de Vt reducidas)

plt.figure(figsize=(12, 8))

# 1. Pintamos los usuarios
plt.scatter(usuarios_2d[:, 0], usuarios_2d[:, 1], 
            c='royalblue', alpha=0.4, label='Usuarios', s=20)

# 2. Pintamos las películas
plt.scatter(pelis_2d[:, 0], pelis_2d[:, 1], 
            c='red', alpha=0.9, label='Películas', marker='x', s=50)


plt.title("Mapa de Recomendación (SVD)")
plt.legend()
plt.grid(True, alpha=0.2)
plt.show()

NameError: name 'usuarios_2d' is not defined